.article_index {
    height: 100%;
    @include flex(column,nowrap,center,center);
    gap: 1.875rem;
    h1 {
        font-size: 32px;
        color: $naranja;
        font-family:$font_parrafo;
        text-shadow: 0px 2px 2px black;
        text-align: center;
    }
    h2{
        @extend h1;
        font-size: 28px;
    }
    a{
        color: white;
        width: 180px;
        height: 70px;
        font-family: $font_parrafo;
        font-size: 1.25rem;
        background-color: $verde;
        border-radius: 50px;
        border: black;
        box-shadow: 0px 3px 0 $verde_sombra ;
        transition-duration: 0.2s;
        cursor: pointer;
        text-shadow: -1px 1px 0px black;
        text-decoration: none;
        text-align: center;
        @include flex(row,nowrap,center,center);

        &:hover{
            background-color: #96CEB4;
            transition-duration: 0.3s;
            box-shadow: 0px 8px 0 $verde_sombra;
        }
        &:active{
            background-color: $verde;
            box-shadow: 0 5px $verde_sombra;
            transform: translateY(4px);
            text-decoration: none;
            @include flex(row,nowrap,center,center);    
        }
    }
    
}