header{
    background-color: #D9534F;
    nav{
        background-color: #D9534F;
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        ul{
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-color: #D9534F;
            position: absolute;
            list-style: none;
            li{
                width: 100%;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                a{
                    text-decoration: none;
                    color: white;
                    font-weight: 500;
                }
            }
        }
        label{
            cursor: pointer;
            margin-right: 25px;
            background-color: #D9534F;
            box-shadow: 0px 0px 10px #a03d39;
            padding-bottom: 4px;
            padding-top: 5px;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 10px;
        }
    }
}

.logo_navbar {
    img{    
        width: 80px;
        padding-left: .3125rem;
        padding-top: 5px;
        transition-duration: 0.4s;
    }
        &:active{
            transform: translateY(4px);
        }
}



.carrito_navbar {
    display: none;
}

#toggle {
    display:none ;
}
#toggle:checked ~ .menu_navbar {
    background-color: #a03d39;
    display: flex;
    top: 80px;
}