header{
    font-family: $font_navbar;
    nav{

        background-color: $rojo_principal;
        height: 5rem;
        @include flex(row,wrap,space-between,center);

        width: 100%;
        ul{
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: none;
            overflow: hidden;
            background-color: $rojo_principal;
            position: absolute;
            list-style: none;
            z-index: 1;
            li{
                width: 100%;
                text-align: center;
                @include padding(10px,0px,10px,0px);
                a{
                    text-decoration: none;
                    color: white;
                    font-weight: 500;
                }
            }
        }
        label{
            cursor: pointer;
            margin-right: 25px;
            background-color: $rojo_principal;
            box-shadow: 0px 0px 10px $rojo_sombra;
            @include padding(5px,8px,4px,8px);
            border-radius: 10px;
        }
    }
}

.logo_navbar {
    transition-duration: 0.4s;
    img{    
        width: 80px;
        @include padding(5px,0px,0px,.3125rem);
        transition-duration: 0.4s;
    }
    &:active{
        transform: translateY(4px);
    }
}



.carrito_navbar {
    display: none;
}

#toggle {
    display:none ;
}
#toggle:checked ~ .menu_navbar {
    background-color: $rojo_sombra;
	color: white;
    display: flex;
    top: 80px;
	li{
		border: 1px solid white;
		width: 75%;
		margin: .3125rem;
		transition-duration: 0.4s;
		&:hover{
			transform: scale(1.1);
		}
	}
}