@mixin flex($direction,$wrap,$justify,$align ){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin margin($top,$right,$bottom,$left){
    margin-top:$top ;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin padding ($top,$right,$bottom,$left){
    padding-top:$top ;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}