$font_navbar: 'Inter', sans-serif;
$font_parrafo:'Roboto Condensed', sans-serif;
$rojo_principal: #D9534F;
$rojo_secundario: #632523;
$rojo_sombra: #a03d39;
$naranja:  #FFAD60;
$amarillo: #FFEEAD;
$amarillo_sombra:#b3a779;
$verde:#96CEB4;
$verde_sombra:#3a5045;

/*  font-family: 'Inter', sans-serif;  --- navbar*/
/*  font-family: 'Roboto Condensed', sans-serif; -----  parrafo*/